/*Paul Pearson*/
/*president_table.css*/
president {
    display: block;
    width: 600px;
    font-size: 10pt;
    padding: 10px;
    margin: 4px;
    border-width: 3px;
    border-style: groove;
    border-color: blue;
    background: ghostwhite;
}

name {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 16pt;
    font-weight: bold;
    color: black;
}

took_office, left_office {
    display: list-item;
    margin-left: 16px;
    color: purple;
}

party {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 12pt;
    font-style: italic;
    color: green;
}

vice_president {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-weight: bold;
    font-size: 12pt;
    color: darkorange;
}

number {
    display: none;
    color: darkblue;
}

