/*Paul Pearson*/
/*president_table.css*/


th {
	font-family: Arial;
	color: purple;
}

table {
	border: 5px solid orange;
}

tr {
	font-family: Arial;
	color: orange;
	text-align: center;
}

td {
	font-family: Arial;
	color: blue;
	border: double;
}

