@namespace birthday "http://www.du.edu/~mschwart/xml/birthday";

/*Paul Pearson*/
/*birthday.css*/

birthday|date {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 12pt;
    font-weight: bold;
    color: blue;
}

birthday\:date {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 12pt;
    font-weight: bold;
    color: blue;
}
