@namespace president "http://www.du.edu/~mschwart/xml/birthday";
president {
    display: block;
    width: 600px;
    font-size: 10pt;
    padding: 10px;
    margin: 4px;
    border-width: 1px;
    border-style: groove;
    border-color: black;
    background: lightblue;
}

name {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 16pt;
    font-weight: bold;
}

birthday {
    display: block;
    font-family: roman, 'times new roman', times, serif;
    font-size: 12pt;
    color: blue;

}

