
* {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    color: ghostwhite;
    text-align: center;
    font-family: Tahoma;
}

tr:hover {
    background-color: transparent;
}

img {
    width: 50px;
    height: 150px;
}


body {
    background-image: url("photos/vinobackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    margin-top: 100px;
    text-align: center;
}

.winedetail {
    margin: auto;
    width: 90%;
}

.compute {
    margin: auto;
    width: 30%;
}

.totals {
    color: #99273e;
    font-weight: bolder;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dce6bf;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #99273e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #dce6bf;
    text-align: left;
    color: #99273e;
}

table tr {
    background: rgba(249, 249, 247, 0.7);
    font-size: 14px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;

}

table, a {
    font-family: Tahoma;
}

