/*Paul Pearson*/
/*president_21c.css*/

th {
	font-size: large;
	color: purple;
}

table {
	border: orange;
}

tr {
	font-size: small;
	color: orange;
	text-align: center;
}

table, tr, td, th {
	font-family: Arial;
	border: 1px solid black;
}

img {
	width: 200px;
	height: 200px;
}