/*Paul Pearson*/
/*president_21c.css*/

president {
	display: block;
	width: 600px;
	font-size: 10pt;
	padding: 10px;
	margin: 4px;
	border-width: 1px;
	border-style: groove;
	border-color: black;
	background: lightblue;
}

name {
	display: flex;
	font-family: Arial;
	font-size: 24pt;
	font-weight: normal;
}

took_office, left_office {
	display: list-item;
	margin-left: 16px;
}

party {
	display: block;
	font-family: roman, 'times new roman', times, serif;
	font-size: 12pt;
	font-style: italic;
}

vice_president {
	display: block;
	font-family: roman, 'times new roman', times, serif;
	font-weight: bold;
	font-size: 12pt;
}

number {
	display: none;
}

date {
	color: red;
}

picture {
	border-image: 100%;
}